/* line 18, ../../views/stylesheets/html5boilerplate/_main.sass */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* line 34, ../../views/stylesheets/html5boilerplate/_main.sass */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 38, ../../views/stylesheets/html5boilerplate/_main.sass */
blockquote, q {
  quotes: none; }

/* line 41, ../../views/stylesheets/html5boilerplate/_main.sass */
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

/* line 46, ../../views/stylesheets/html5boilerplate/_main.sass */
ins {
  background-color: #ffff99;
  color: black;
  text-decoration: none; }

/* line 51, ../../views/stylesheets/html5boilerplate/_main.sass */
mark {
  background-color: #ffff99;
  color: black;
  font-style: italic;
  font-weight: bold; }

/* line 57, ../../views/stylesheets/html5boilerplate/_main.sass */
del {
  text-decoration: line-through; }

/* line 60, ../../views/stylesheets/html5boilerplate/_main.sass */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

/* line 64, ../../views/stylesheets/html5boilerplate/_main.sass */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 68, ../../views/stylesheets/html5boilerplate/_main.sass */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

/* line 76, ../../views/stylesheets/html5boilerplate/_main.sass */
input, select {
  vertical-align: middle; }

/* line 81, ../../views/stylesheets/html5boilerplate/_main.sass */
body {
  font: 13px/1.231 sans-serif;
  *font-size: small; }

/* line 86, ../../views/stylesheets/html5boilerplate/_main.sass */
select, input, textarea, button {
  font: 99% sans-serif; }

/* line 91, ../../views/stylesheets/html5boilerplate/_main.sass */
pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

/* line 98, ../../views/stylesheets/html5boilerplate/_main.sass */
html {
  overflow-y: scroll; }

/* line 102, ../../views/stylesheets/html5boilerplate/_main.sass */
a:hover, a:active {
  outline: none; }

/* line 105, ../../views/stylesheets/html5boilerplate/_main.sass */
ul, ol {
  margin-left: 2em; }

/* line 108, ../../views/stylesheets/html5boilerplate/_main.sass */
ol {
  list-style-type: decimal; }

/* line 112, ../../views/stylesheets/html5boilerplate/_main.sass */
nav ul, nav li {
  margin: 0;
  list-style: none;
  list-style-image: none; }

/* line 117, ../../views/stylesheets/html5boilerplate/_main.sass */
small {
  font-size: 85%; }

/* line 120, ../../views/stylesheets/html5boilerplate/_main.sass */
strong, th {
  font-weight: bold; }

/* line 123, ../../views/stylesheets/html5boilerplate/_main.sass */
td {
  vertical-align: top; }

/* line 127, ../../views/stylesheets/html5boilerplate/_main.sass */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative; }

/* line 132, ../../views/stylesheets/html5boilerplate/_main.sass */
sup {
  top: -0.5em; }

/* line 135, ../../views/stylesheets/html5boilerplate/_main.sass */
sub {
  bottom: -0.25em; }

/* line 138, ../../views/stylesheets/html5boilerplate/_main.sass */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 15px; }

/* line 145, ../../views/stylesheets/html5boilerplate/_main.sass */
textarea {
  overflow: auto; }

/* line 150, ../../views/stylesheets/html5boilerplate/_main.sass */
.ie6 legend, .ie7 legend {
  margin-left: -7px; }

/* line 154, ../../views/stylesheets/html5boilerplate/_main.sass */
input[type="radio"] {
  vertical-align: text-bottom; }

/* line 157, ../../views/stylesheets/html5boilerplate/_main.sass */
input[type="checkbox"] {
  vertical-align: bottom; }

/* line 160, ../../views/stylesheets/html5boilerplate/_main.sass */
.ie7 input[type="checkbox"] {
  vertical-align: baseline; }

/* line 163, ../../views/stylesheets/html5boilerplate/_main.sass */
.ie6 input {
  vertical-align: text-bottom; }

/* line 167, ../../views/stylesheets/html5boilerplate/_main.sass */
label, input[type="button"], input[type="submit"], input[type="image"], button {
  cursor: pointer; }

/* line 171, ../../views/stylesheets/html5boilerplate/_main.sass */
button, input, select, textarea {
  margin: 0; }

/* line 177, ../../views/stylesheets/html5boilerplate/_main.sass */
input:invalid, textarea:invalid {
  border-radius: 1px;
  -moz-box-shadow: 0px 0px 5px red;
  -webkit-box-shadow: 0px 0px 5px red;
  box-shadow: 0px 0px 5px red; }

/* line 183, ../../views/stylesheets/html5boilerplate/_main.sass */
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid {
  background-color: #f0dddd; }

/* line 189, ../../views/stylesheets/html5boilerplate/_main.sass */
::-moz-selection {
  background: #ff5e99;
  color: white;
  text-shadow: none; }

/* line 194, ../../views/stylesheets/html5boilerplate/_main.sass */
::selection {
  background: #ff5e99;
  color: white;
  text-shadow: none; }

/* line 200, ../../views/stylesheets/html5boilerplate/_main.sass */
a:link {
  -webkit-tap-highlight-color: #ff5e99; }

/* line 205, ../../views/stylesheets/html5boilerplate/_main.sass */
button {
  width: auto;
  overflow: visible; }

/* line 211, ../../views/stylesheets/html5boilerplate/_main.sass */
.ie7 img {
  -ms-interpolation-mode: bicubic; }

/* line 217, ../../views/stylesheets/html5boilerplate/_main.sass */
body, select, input, textarea {
  color: #444444; }

/* line 224, ../../views/stylesheets/html5boilerplate/_main.sass */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold; }

/* line 227, ../../views/stylesheets/html5boilerplate/_main.sass */
a, a:active, a:visited {
  color: #607890; }

/* line 230, ../../views/stylesheets/html5boilerplate/_main.sass */
a:hover {
  color: #003366; }

/* line 21, ../../views/stylesheets/style.css.sass */
body {
  padding: 30px;
  text-align: center; }

/* line 25, ../../views/stylesheets/style.css.sass */
section {
  margin-bottom: 30px; }

/* line 28, ../../views/stylesheets/style.css.sass */
a {
  text-decoration: none;
  font-weight: bold; }
  /* line 31, ../../views/stylesheets/style.css.sass */
  a:hover {
    text-decoration: underline; }

/* line 34, ../../views/stylesheets/style.css.sass */
h1 {
  font-size: 24px;
  margin-bottom: 25px; }

/* line 38, ../../views/stylesheets/style.css.sass */
#whatshere {
  list-style: none;
  margin: 0; }
  /* line 11, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.2/frameworks/compass/stylesheets/compass/typography/lists/_bullets.scss */
  #whatshere li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0px; }
  /* line 41, ../../views/stylesheets/style.css.sass */
  #whatshere li {
    font-size: 18px;
    margin-bottom: 0.3em; }

/* line 45, ../../views/stylesheets/style.css.sass */
#hovers {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  width: 285px;
  margin: 0 auto 15px; }
  /* line 60, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
  #hovers li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0px;
    white-space: nowrap;
    display: inline;
    float: left; }
  /* line 49, ../../views/stylesheets/style.css.sass */
  #hovers li {
    margin: 0 8px; }
  /* line 51, ../../views/stylesheets/style.css.sass */
  #hovers #twitter {
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    width: 55px;
    height: 55px;
    background: url('/images/my_sprites-767a2f24d0.png') 0 -330px no-repeat;
    display: block;
    position: relative; }
    /* line 11, ../../views/stylesheets/_mixins.sass */
    #hovers #twitter span {
      width: 55px;
      height: 55px;
      background: url('/images/my_sprites-767a2f24d0.png') 0 -385px no-repeat;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      -moz-transition-property: opacity;
      -webkit-transition-property: opacity;
      -o-transition-property: opacity;
      transition-property: opacity;
      -moz-transition-duration: 0.3s;
      -webkit-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -moz-transition-timing-function: ease-in-out;
      -webkit-transition-timing-function: ease-in-out;
      -o-transition-timing-function: ease-in-out;
      transition-timing-function: ease-in-out; }
      /* line 21, ../../views/stylesheets/_mixins.sass */
      .no-opacity #hovers #twitter span {
        visibility: hidden; }
    /* line 23, ../../views/stylesheets/_mixins.sass */
    #hovers #twitter:hover span {
      opacity: 1; }
      /* line 25, ../../views/stylesheets/_mixins.sass */
      .no-opacity #hovers #twitter:hover span {
        visibility: visible; }
  /* line 53, ../../views/stylesheets/style.css.sass */
  #hovers #facebook {
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    width: 55px;
    height: 55px;
    background: url('/images/my_sprites-767a2f24d0.png') 0 0 no-repeat;
    display: block;
    position: relative; }
    /* line 11, ../../views/stylesheets/_mixins.sass */
    #hovers #facebook span {
      width: 55px;
      height: 55px;
      background: url('/images/my_sprites-767a2f24d0.png') 0 -55px no-repeat;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      -moz-transition-property: opacity;
      -webkit-transition-property: opacity;
      -o-transition-property: opacity;
      transition-property: opacity;
      -moz-transition-duration: 0.3s;
      -webkit-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -moz-transition-timing-function: ease-in-out;
      -webkit-transition-timing-function: ease-in-out;
      -o-transition-timing-function: ease-in-out;
      transition-timing-function: ease-in-out; }
      /* line 21, ../../views/stylesheets/_mixins.sass */
      .no-opacity #hovers #facebook span {
        visibility: hidden; }
    /* line 23, ../../views/stylesheets/_mixins.sass */
    #hovers #facebook:hover span {
      opacity: 1; }
      /* line 25, ../../views/stylesheets/_mixins.sass */
      .no-opacity #hovers #facebook:hover span {
        visibility: visible; }
  /* line 55, ../../views/stylesheets/style.css.sass */
  #hovers #forrst {
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    width: 55px;
    height: 55px;
    background: url('/images/my_sprites-767a2f24d0.png') 0 -110px no-repeat;
    display: block;
    position: relative; }
    /* line 11, ../../views/stylesheets/_mixins.sass */
    #hovers #forrst span {
      width: 55px;
      height: 55px;
      background: url('/images/my_sprites-767a2f24d0.png') 0 -165px no-repeat;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      -moz-transition-property: opacity;
      -webkit-transition-property: opacity;
      -o-transition-property: opacity;
      transition-property: opacity;
      -moz-transition-duration: 0.3s;
      -webkit-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -moz-transition-timing-function: ease-in-out;
      -webkit-transition-timing-function: ease-in-out;
      -o-transition-timing-function: ease-in-out;
      transition-timing-function: ease-in-out; }
      /* line 21, ../../views/stylesheets/_mixins.sass */
      .no-opacity #hovers #forrst span {
        visibility: hidden; }
    /* line 23, ../../views/stylesheets/_mixins.sass */
    #hovers #forrst:hover span {
      opacity: 1; }
      /* line 25, ../../views/stylesheets/_mixins.sass */
      .no-opacity #hovers #forrst:hover span {
        visibility: visible; }
  /* line 57, ../../views/stylesheets/style.css.sass */
  #hovers #rss {
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    width: 55px;
    height: 55px;
    background: url('/images/my_sprites-767a2f24d0.png') 0 -220px no-repeat;
    display: block;
    position: relative; }
    /* line 11, ../../views/stylesheets/_mixins.sass */
    #hovers #rss span {
      width: 55px;
      height: 55px;
      background: url('/images/my_sprites-767a2f24d0.png') 0 -275px no-repeat;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      -moz-transition-property: opacity;
      -webkit-transition-property: opacity;
      -o-transition-property: opacity;
      transition-property: opacity;
      -moz-transition-duration: 0.3s;
      -webkit-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -moz-transition-timing-function: ease-in-out;
      -webkit-transition-timing-function: ease-in-out;
      -o-transition-timing-function: ease-in-out;
      transition-timing-function: ease-in-out; }
      /* line 21, ../../views/stylesheets/_mixins.sass */
      .no-opacity #hovers #rss span {
        visibility: hidden; }
    /* line 23, ../../views/stylesheets/_mixins.sass */
    #hovers #rss:hover span {
      opacity: 1; }
      /* line 25, ../../views/stylesheets/_mixins.sass */
      .no-opacity #hovers #rss:hover span {
        visibility: visible; }

/* line 60, ../../views/stylesheets/style.css.sass */
#sprite {
  margin-bottom: 15px; }

/* line 66, ../../views/stylesheets/style.css.sass */
#flippy {
  list-style: none;
  *zoom: 1;
  background-color: #555555;
  width: 348px;
  margin: 0 auto 35px;
  padding: 50px 50px 36px;
  position: relative; }
  /* line 11, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.2/frameworks/compass/stylesheets/compass/typography/lists/_bullets.scss */
  #flippy li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0px; }
  /* line 22, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  #flippy:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden; }
  /* line 74, ../../views/stylesheets/style.css.sass */
  #flippy .instructions {
    position: absolute;
    bottom: 16px;
    left: 0;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    color: #999999;
    text-shadow: rgba(0, 0, 0, 0.3) 0 1px 1px; }
  /* line 83, ../../views/stylesheets/style.css.sass */
  #flippy li {
    float: left;
    width: 160px;
    height: 80px;
    margin: 0 7px 14px 7px;
    position: relative;
    -webkit-perspective: 500;
    perspective: 500; }
    /* line 31, ../../views/stylesheets/_mixins.sass */
    #flippy li .front, #flippy li .back {
      background-color: white;
      -moz-transition-property: all;
      -webkit-transition-property: all;
      -o-transition-property: all;
      transition-property: all;
      -moz-transition-duration: 0.5s;
      -webkit-transition-duration: 0.5s;
      -o-transition-duration: 0.5s;
      transition-duration: 0.5s;
      -moz-transition-timing-function: ease-in-out;
      -webkit-transition-timing-function: ease-in-out;
      -o-transition-timing-function: ease-in-out;
      transition-timing-function: ease-in-out;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0; }
    /* line 42, ../../views/stylesheets/_mixins.sass */
    .no-csstransforms3d #flippy li .front {
      opacity: 1; }
    /* line 44, ../../views/stylesheets/_mixins.sass */
    #flippy li .back {
      -webkit-transform: rotateY(180deg);
      transform: rotateY(180deg); }
      /* line 46, ../../views/stylesheets/_mixins.sass */
      .no-csstransforms3d #flippy li .back {
        visibility: hidden;
        opacity: 0; }
    /* line 50, ../../views/stylesheets/_mixins.sass */
    #flippy li:hover .front {
      -webkit-transform: rotateY(180deg);
      transform: rotateY(180deg); }
      /* line 52, ../../views/stylesheets/_mixins.sass */
      .no-csstransforms3d #flippy li:hover .front {
        visibility: hidden; }
    /* line 54, ../../views/stylesheets/_mixins.sass */
    #flippy li:hover .back {
      -webkit-transform: rotateY(360deg);
      transform: rotateY(360deg); }
      /* line 56, ../../views/stylesheets/_mixins.sass */
      .no-csstransforms3d #flippy li:hover .back {
        visibility: visible;
        opacity: 1; }
    /* line 90, ../../views/stylesheets/style.css.sass */
    #flippy li .back p {
      padding: 25px 15px; }
    /* line 93, ../../views/stylesheets/style.css.sass */
    #flippy li .front p {
      text-indent: -119988px;
      overflow: hidden;
      text-align: left;
      width: 55px;
      height: 55px;
      margin: 12px auto; }
    /* line 98, ../../views/stylesheets/style.css.sass */
    #flippy li #twitter {
      background: url('/images/my_sprites-767a2f24d0.png') 0 -385px; }
    /* line 100, ../../views/stylesheets/style.css.sass */
    #flippy li #facebook {
      background: url('/images/my_sprites-767a2f24d0.png') 0 -55px; }
    /* line 102, ../../views/stylesheets/style.css.sass */
    #flippy li #forrst {
      background: url('/images/my_sprites-767a2f24d0.png') 0 -165px; }
    /* line 104, ../../views/stylesheets/style.css.sass */
    #flippy li #rss {
      background: url('/images/my_sprites-767a2f24d0.png') 0 -275px; }

/* line 4, ../../views/stylesheets/html5boilerplate/_nonsemantichelpers.sass */
.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr; }

/* line 14, ../../views/stylesheets/html5boilerplate/_nonsemantichelpers.sass */
.hidden {
  display: none;
  visibility: hidden; }

/* line 20, ../../views/stylesheets/html5boilerplate/_nonsemantichelpers.sass */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/* line 32, ../../views/stylesheets/html5boilerplate/_nonsemantichelpers.sass */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/* line 42, ../../views/stylesheets/html5boilerplate/_nonsemantichelpers.sass */
.invisible {
  visibility: hidden; }

/* line 47, ../../views/stylesheets/html5boilerplate/_nonsemantichelpers.sass */
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden; }

/* line 53, ../../views/stylesheets/html5boilerplate/_nonsemantichelpers.sass */
.clearfix:after {
  clear: both; }

/* line 57, ../../views/stylesheets/html5boilerplate/_nonsemantichelpers.sass */
.clearfix {
  zoom: 1; }

@media print {
  /* line 23, ../../views/stylesheets/html5boilerplate/_mediaqueries.sass */
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important; }

  /* line 30, ../../views/stylesheets/html5boilerplate/_mediaqueries.sass */
  a, a:visited {
    color: #444444 !important;
    text-decoration: underline; }

  /* line 33, ../../views/stylesheets/html5boilerplate/_mediaqueries.sass */
  a[href]:after {
    content: " (" attr(href) ")"; }

  /* line 35, ../../views/stylesheets/html5boilerplate/_mediaqueries.sass */
  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /* line 37, ../../views/stylesheets/html5boilerplate/_mediaqueries.sass */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }

  /* line 40, ../../views/stylesheets/html5boilerplate/_mediaqueries.sass */
  pre, blockquote {
    border: 1px solid #999999;
    page-break-inside: avoid; }

  /* line 43, ../../views/stylesheets/html5boilerplate/_mediaqueries.sass */
  thead {
    display: table-header-group; }

  /* line 46, ../../views/stylesheets/html5boilerplate/_mediaqueries.sass */
  tr, img {
    page-break-inside: avoid; }

  @page {
    margin: 0.5cm; }

  /* line 51, ../../views/stylesheets/html5boilerplate/_mediaqueries.sass */
  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  /* line 54, ../../views/stylesheets/html5boilerplate/_mediaqueries.sass */
  h2, h3 {
    page-break-after: avoid; } }
